<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="h3 mb-4">Nouveau rendez-vous</h1>
          
          <%= render 'form', meeting: @meeting %>
        </div>
      </div>
    </div>
  </div>
</div>
